[Desktop Entry]
Version=1.0
Name=WezTerm
Comment=Terminal emulator
Exec=env WAYLAND_DISPLAY= /home/linuxbrew/.linuxbrew/bin/wezterm
Icon=/home/trinhquyetchien/Icon/wezterm.png
Terminal=false
Type=Application
Categories=System;Utility;TerminalEmulator;
StartupNotify=true
StartupWMClass=org.wezfurlong.wezterm
